.footer {
    background: linear-gradient(to bottom, #3e5f8a, #84aadb);
    color: white;
    padding: 40px 0;
  }

  .footer a {
    color: white;
    text-decoration: none;
  }

  .footer a:hover {
    text-decoration: underline;
  }

  .footer .fab {
    margin-right: 8px;
  }

  .footer h5 {
    margin-bottom: 15px;
  }

  .footer address {
    font-style: normal;
  }

  .footer .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer .row {
    display: flex;
    justify-content: space-around;
  }

  .footer .social-link {
    display: flex;
    align-items: center; /* Centra el ícono con el texto */
  }

  .footer .social-link .fab {
    margin-right: 10px;
  }

  .footer .text-map {
    color: #00bcd4; /* Color diferente para el enlace del mapa */
  }

  .footer .text-map:hover {
    color: #0097a7;
  }

  @media (max-width: 768px) {
    .footer .row {
      flex-direction: column;
      align-items: center;
    }

    .footer .col-md-4 {
      margin-bottom: 20px;
    }
  }